/*================================================
01 - IMPORTED CSS
==================================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');


/*================================================
02 - DEFAULT CSS
==================================================*/ 

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #444;
    font-weight: 400
}
html,body { 
    height: 100%;
}
/*================================================
12 - ERROR PAGE CSS
==================================================*/ 

.error_page {
    text-align: center;
}
.error_page > h1 {
    font-size: 100px;
    font-weight: 900;
}
.error_page > h2 {
    font-weight: 600;
    margin-top: 30px;
}
.error_page > h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 22px
}
.error_page > h3 {
    color: #333;
    /*margin-bottom: 30px;*/
    font-size: 16px
}
.error_page > form{
    margin-bottom: 30px;
    position: relative;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.error_page > form > input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ddd;
    height: 50px;
    padding: 5px 100px 5px 10px;
    width: 100%;
}
.error_page > form > button {
    background: #e30613  none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-size: 26px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100px;
}
.error_page > form > button:hover{
    background: #2a2a2a none repeat scroll 0 0
}
.error-section{
    min-height: 100%;
    min-height: 100vh;
    align-items: center;
    min-width: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
.error-btn {
    background: #e30613 none repeat scroll 0 0;
    border: 3px solid #e30613;
    color: #fff;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 26px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.error-btn:hover{
    background: #212121 none repeat scroll 0 0;
    border: 3px solid #212121;
    color: #fff;
    text-decoration: none;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .error_page > h2{
        margin-top: 15px
    }
}  
@media only screen and (max-width: 767px) { 
    .error_page > h1{
        font-size: 70px;
        line-height: 70px;
        top: 26px;
        padding: 15px
    }
    .error_page > h2{
        margin-top: 30px;
        font-size: 20px
    }
    .error-section{
        /*padding-top: 100px*/
        /*padding-bottom: 100px;*/
        /*min-height: 100%;*/
        min-height: 100%;
        /*display: flex;*/
        align-items: center;
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {       
    .error_page > h1{
        font-size: 70px;
        line-height: 70px;
        top: 26px;
        padding: 15px
    }
    .error_page > h2{
        margin-top: 30px;
        font-size: 20px
    }
}    
